.git
.gitignore
.idea
.vscode
logs
backup
*.log
*.tmp
*.sqlite3
**/venv
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/node_modules
**/dist
**/.env
xray-fe/dist
xray-fe/node_modules
xray-be/venv
xray-be/xray_be/db.sqlite3
